* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Playfair Display SC', serif;
    overflow: hidden;
}

a {
    text-decoration: none;
    color: #111;
}

li {
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeee;
    height: 50px;
    width: 100%;
}

/* Left-side */

.header-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

.left-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
}

.left-inline div {
    margin: 5px;
}

.disclaimer {
    position: relative;
    bottom: 5px;
    margin: 5px;
    font-size: 1.9rem;
}

.heart-icon {
    position: relative;
    top: 0;
    font-size: 1.5rem;
}

.menu-icon {
    font-size: 1.6rem;
    display: none;
}


/* Center-side */

.header-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 0;
    left: 9%;
    padding: 5px 20px;
    width: 100%;
    gap: 180px;
}

.navigations {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigations li {
    padding: 10px 15px;
    margin: 5px;
    border-radius: 8px;
    transition: all 0.5s ease;
}

.navigations li:hover {
    background-color: #bbbb;
}

.close-icon {
    display: none;
}

.branding {
    position: relative;
    bottom: 7px;
    right: 40%;
    font-size: 2rem;
    font-weight: 700;
}


/* Right-side */

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.right-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.right-inline div {
    padding: 5px 15px;
    margin: 5px;
    border-radius: 8px;
    font-size: 1.4rem;
}


/* Media querry */

@media (max-width: 1150px) {

/* Left-side */

.header-left {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

.left-inline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 5px;
}

.left-inline div {
    margin: 5px;
}

.disclaimer {
    position: relative;
    bottom: 4px;
    margin: 5px;
    font-size: 1.5rem;
}

.heart-icon {
    position: relative;
    top: 0;
    font-size: 1.3rem;
}

.menu-icon {
    display: none;
}


/* Center-side */

.header-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    top: 0;
    left: 3%;
    padding: 5px 20px;
    width: 100%;
    gap: 150px;
    font-size: 0.9rem;
}

.navigations {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigations li {
    margin: 10px;
    transition: all 0.5s ease;
}

.close-icon {
    display: none;
}

.branding {
    position: relative;
    bottom: 4px;
    right: 46%;
    font-size: 1.6rem;
    font-weight: 700;
}


/* Right-side */

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.right-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.right-inline div {
    padding: 5px 15px;
    margin: 5px;
    border-radius: 8px;
    font-size: 1.2rem;
}

}


@media (max-width: 900px) {

/* Left */

.left-inline {
    display: none;
}

.menu-icon {
    display: block;
    position: absolute;
    top: 3px;
    left: 5px;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 2px 5px;
    margin: 2px;
    border-radius: 8px;
}

/* Center */

#navbar {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #eeee;
    height: 100vh;
    width: 40%;
    padding-top: 10px;
    display: block;
    transition: all 0.5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.navigations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
}

.navigations li {
    position: relative;
    top: 50px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 8px;
    transition: all 0.5s ease;
}

.navigations li:hover {
    background-color: #bbbb;
}

.close-icon {
    display: block;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 1.6rem;
    cursor: pointer;
}

.branding {
    display: inline;
    position: absolute;
    top: 7px;
    right: 45%;
    font-size: 1.3rem;
}

/* Right */

.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
    
.right-inline {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    position: relative;
    bottom: 2px;
}
    
.right-inline div {
    padding: 2px 8px;
    margin: 2px;
    border-radius: 8px;
    font-size: 1.1rem;
}
    
}